img.img {
    width: 114px;
    height: 114px;
}

table, tr, td {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
}

tr, td {
    height: 114px;
}

td {
    display: inline-block;
}

.img-W { transform: rotate(90deg); }
.img-S { transform: rotate(180deg); }
.img-E { transform: rotate(270deg); }
